/******* General ********/
* {
    font-family: 'roboto';
    box-sizing: border-box;
}

:root {
    --main-color: #101010;
    --main-bg-color: #f6f6f6;
}

body {
    max-width: 1470px;
    display: block;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}
